name: Python CD

on:
  push:
    branches: [ main ]
  pull_request:
    types: [closed]
    branches: [ main ]

jobs:
  Deploy:
    if: github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'development'
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
  
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
        
      - name: Install Dependencies
        run: pip install -r requirements.txt
  
      - name: Run tests with coverage and html report
        run: pytest --cov=. --cov-report=term --cov-report=xml --cov-report=html

      - name: Prepare the webpage
        run: |
          mkdir sites
          mv htmlcov sites/
          mv coverage.xml sites/

      - name: Upload the artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./sites
          
      - name: Deploy the artifacts
        uses: actions/deploy-pages@v4
  
